<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/supplierForm.css">
</head>
<body>
    <h1><%= title %></h1>

    <form action="/categories/edit/<%= category.category_id %>" method="POST">
        <div>
            <label for="name">Name:</label>
            <input 
                type="text" 
                id="name" 
                name="name" 
                value="<%= category.name %>" 
                required
            >
        </div>

        <div>
            <label for="description">Description:</label>
            <textarea
                id="description" 
                name="description" 
                value="<%= category.description %>" 
                required
            ></textarea>
        </div>

        <button type="submit">Save Changes</button>
        <a href="/categories/details/<%= category.category_id %>" class="btn">Back to Details</a>
    </form>

</body>
</html>
